
html{
    height: 100%;
}
body{
	background-color: #FCFFF5;
	margin: auto;
    min-height: 100%;
}
.pager li > a, .pager li > span {
    display: inline-block;
    padding: 2px 5px;
    background-color: #fff;
    border: 1px solid #F05353;
    border-radius: 15px;
    margin-left: 15px;
    color: #F05353;
    cursor:pointer;
}

.pager {
    margin: 9px 0;
}
.navbar-brand{
    color: #fff;
    font-size: 30px;
    font-family: "nexa";
}
.navbar-default{
    border: 0px;
    border-radius: 0px;
    color: #fff;
padding: 10px;
    background-image: linear-gradient(125deg, transparent 30%, rgba(166, 200, 31, 0.8)), linear-gradient(45deg, #207261, #002B36);
}
.navbar-default .navbar-brand {
    color: #FFF;
}
.navbar-default .navbar-brand:hover{
    color: #FFF;
}
.navbar-default .navbar-nav > li > a {
    color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #FFF;
    border-radius: 4px; 
    background: rgba(40, 73, 7, 0.55) none repeat scroll 0% 0%;
}
.navbar-default .navbar-nav > li > a:focus{
    color: #FFF;
    border: 0;
}

.collapse.navbar-collapse{
      font-family: "Roboto-Regular";

}
.pager li > a, .pager li > span {
    display: inline-block;
    padding: 2px 5px;
    border: 2px solid #ff8850;
    border-radius: 15px;
    margin-left: 15px;
    color: #FF8850;
    cursor: pointer;
}